<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kayno.AI.Studio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Kayno.AI.Studio.Properties.Settings>
            <setting name="Main_PrefPayload_ItemsSourcePrefix" serializeAs="String">
                <value>ItemsSource_-_</value>
            </setting>
            <setting name="Main_PrefPayload_DataGlobal" serializeAs="String">
                <value>.\DataGlobal\</value>
            </setting>
            <setting name="Main_PrefPayload_Data" serializeAs="String">
                <value>.\Data\</value>
            </setting>
            <setting name="Main_PrefPayload_FileName" serializeAs="String">
                <value>Payload.tsv</value>
            </setting>
            <setting name="ScreenCaptureRectX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScreenCaptureRectY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScreenCaptureRectWidth" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="ScreenCaptureRectHeight" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="Main_Path_SDModelFolderFilters" serializeAs="String">
                <value>models\stable-diffusion,models\VAE,models\lora,models\controlnet,embeddings</value>
            </setting>
            <setting name="Main_Path_SD_CN_Preprocessors" serializeAs="String">
                <value>.\extensions\sd-webui-controlnet\scripts\preprocessor</value>
            </setting>
            <setting name="App_UseSelectedTextGradientColor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Main_Path_SD" serializeAs="String">
                <value />
            </setting>
        </Kayno.AI.Studio.Properties.Settings>
    </userSettings>
</configuration>